*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4453);
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(119, 116, 117, 0.7);
}
input{
    color: aliceblue;
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;


}
input::placeholder{
    color: aliceblue;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 40%;
    background: transparent;
    color: aliceblue;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;

   

}
.equalBtn{
    background-color: aquamarine;
    color: #717377;
}
.operator{
    color: aquamarine;
}
button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #020202;
    left: 0;
    top:0;
    border-radius: 10px;
}


button::before{
    content: "";
    background: linear-gradient(45deg ,red,orange,yellow,lime,cyan,blue,pink,red);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100%+4px);
    height:calc(100%+4px) ;
    filter: blur();
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
    
}

